:host {
    display: block;
}

.primary {
    fill: var(--g-primary);
}

.gray {
    fill: var(--g-gray-medium);
}

.gray-lighter {
    fill: var(--g-gray-lighter);
}

.small {
    height: 32px;
}

.medium {
    height: 48px;
}

.large {
    height: 66px;
}