html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button {
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--g-gray-medium);
    font-weight: 400;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

@media (max-width: 580px) {
    h1 {
        font-size: 2.8rem;
    }
}