*, *::after, *::before { 
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.button:hover {
    cursor: pointer;
}

.g-page {
    display: block;
    height: 100%;
}