*, *::after, *::before { 
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 1.6rem;
}

button {
    font-size: inherit;
}

.button:hover {
    cursor: pointer;
}

.g-page {
    display: block;
    height: 100%;
}