html {
    --g-primary: #00ADEB;
    --g-secondary: #00E2A2;

    --g-on-primary: white;
    --g-on-secondary: white;

    --g-gray-darkest:  #2c2c2c;
    --g-gray-dark:     #636363;
    --g-gray-medium:   #707070;
    --g-gray-light:    #999999;
    --g-gray-lighter:  #bbbbbb;
    --g-gray-lightest: #eaeaea;

    --g-error: red;
    --g-info: rgb(46, 112, 255);
    --g-success: rgb(0, 173, 0);
}