:host {
    display: block;
}

.input-container {
    position: relative;
}

.input {
    display: block;
    width: 100%;
}

.visibility-button {
    position: absolute;
    right: var(--g-form-input-padding);
    top: 50%;
    transform: translateY(-50%);
    // background-color: white;
}

.input-error {
    border-color: var(--g-error);
}