:host {
    display: block;
    --error-color: deeppink;
    --main-color: var(--error-color);
    --on-main-color: var(--error-color);
}

.primary-main-color {
    --main-color: var(--g-primary);
    --on-main-color: var(--g-on-primary);
}

.secondary-main-color {
    --main-color: var(--g-secondary);
    --on-main-color: var(--g-on-secondary);
}

.error-main-color {
    --main-color: var(--g-error);
    --on-main-color: var(--g-error);
}

.gray-medium-main-color {
    --main-color: var(--g-gray-medium);
    --on-main-color: var(--g-gray-medium);
}

.gray-light-main-color {
    --main-color: var(--g-gray-light);
    --on-main-color: var(--g-gray-light);
}

.fill {
    background-color: var(--main-color);
    color: var(--on-main-color);
    border: none;
}

.outline {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 4.8rem;
    border-radius: 4px;
    font-size: inherit;
    white-space: nowrap;
    padding: 8px;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.full-width {
    width: 100%;
}

.fill:hover {
    filter: brightness(1.1);
}

.outline:hover {
    background-color: color-mix(in srgb, var(--main-color) 10%, white);
}

.button:active {
    filter: brightness(0.9);
}

.outline:active {
    background-color: color-mix(in srgb, var(--main-color) 10%, white);
}

.small {
    font-size: 1.2rem;
}

.border-hidden {
    border: none;
}

.padding-horizontal-none {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-horizontal-small {
    padding-left: 8px;
    padding-right: 8px;
}

.hover-underline:hover {
    text-decoration: underline;
    background-color: transparent;
}